---
layout: default
title: Home
---

<div class="page">
  <h1>
    Welcome
  </h1>

  <p>
    Tri-Cities Mutual Aid is a grassroots network of individuals who care about people getting the resources they need. We are local to the Tri-Cities of Northeastern Tennessee, Southwestern Virginia and surrounding areas, with community connections across the Appalachian region.
  </p>
  <p>
    This project is an attempt to collect and organize information related to community needs in the wake of Hurricane Helene. Scroll down to view the data we have collected or to learn how you can help support resource collection and organizing.
  </p>
  <p>Want to learn more about our work? <a href="https://www.facebook.com/tricitiesmutualaid/">Visit us on Facebook.</a></p>

  <h1>Emergency Information </h1>
  <ul>
    <li> Call 211 for aid </li>
    <li><a href="https://www.tn.gov/health/cedep/cedep-emergency-preparedness/community-resilience/tennessee-disaster-support-network.html">Tennessee Disaster Support Network</a></li>
    <li><a href="https://www.tn.gov/tema">Report a missing person (TN Emergency Management Agency)</a>: call 1-800-824-3463</li>
    <li><a href="https://www.tn.gov/workforce/unemployment/disaster-unemployment.html">Apply for disaster unemployment assistance</a></li>
    <li><a href="https://www.disasterassistance.gov/">Motel vouchers</a>: call 1-800-621-3362</li>
  </ul>

  <h1>Databases</h1>
  <h2>East Tennessee Helene Relief Spreadsheet</h2>
  <p>There is an overwhelming flood of information about the needs that communities in East Tennessee and Western North Carolina are facing in the wake of hurricane helene.</p>

  <p>We are maintaining a public-facing spreadsheet that reflects what we know about:</p>
    <ul>
      <li>Shelters</li>
      <li>Medical care</li>
      <li>Resource distribution sites</li>
      <li>Volunteer needs</li>
      <li>Fundraisers</li>
    </ul>

  <p><a href="https://docs.google.com/spreadsheets/d/16DEEWE94xntZb_m4bZ9JDtJhPNgqz8uHS81uTr-PLCI/edit?gid=845725146#gid=845725146">View the spreadsheet here.</a></p>
  <h2>East Tennessee Timely Needs Spreadsheet</h2>
  <p>We are also maintaining a public facing spreadsheet where folks can provide up-to-date information on current needs.</p>
  <p><a href="https://docs.google.com/spreadsheets/d/16si_BK83Q176jRrV_xKd5DuoW2mbDcvIYymGiTgfQbY/edit?usp=sharing">View the Timely Needs Spreadsheet</a></p>

  <h1>Get Involved</h1>
  <h2>Add information to our resource database</h2>
  <p>Information is circulating primarily through social media posts and signal threads.</p>

  <p>People from anywhere in the world can help us gather information. We are primarily collecting information about counties in East Tennessee as well as Madison County, North Carolina.</p>

  <p>Help us build our database by sharing information about shelters, donation collection sites, distribution sites, and other location-specific resources for people impacted by the hurricane.</p>

  <p>When you come across new information to add to our database, you can share it using an <a href="https://forms.gle/zpTzGG6xAfJvN9dBA">online google form</a></p>

  <h2>Share breaking news </h2>
  <p>If you live in the region and have new information about what's happening on the ground, we have a form for that too!</p>
  <p><a href="https://forms.gle/sfd62MmvYc1cewP57">Share current updates here</a></p>
  <p><a href="https://docs.google.com/spreadsheets/d/16si_BK83Q176jRrV_xKd5DuoW2mbDcvIYymGiTgfQbY/edit?usp=sharing">View current updates here.</p>

  <h2>Help us vet our data</h2>
  <p>We have a team of people reviewing and updating the data received through the online form. That data is reviewed before you ever see it in our public-facing sheet.</p>
  <p>If you are interested in helping with data vetting, get in touch.</p>


</div>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
